
.modal{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 6rem;
    left: 11rem;
    width: 80%;
    height: 700px;
    background: white;
    border-radius: 25px;
    z-index: 9999;
    overflow: hidden;
}
.modal-open {
    overflow: hidden; /* Desabilita o scroll */
}


.img-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    position: relative;
    overflow: hidden;

}
.img-container img{
    width: 100%;
    z-index: 1;
}
.circle{
    width: 100rem;
    height: 100rem;
    background: rgb(173, 42, 42);    
    position: absolute;
    overflow: hidden;
}


.sign{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 50%;
    height: 80%;
    padding: 0 3rem;
}
.header-login{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
    padding-left: 5rem;
}
.header-login h1{
    color: #000;
}
.header-login i{
    cursor: pointer;
    color: #000;
}

form{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 70%;
    height: 40%;
}
.input-group{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.input-group input{
    width: 70%;
    padding: .5rem;
    background: transparent;
    border: none;
    border-bottom: 2px solid #dadada; 
    outline: none;
    font-size: 15px;
    color: #000;
}

.input-box label{
    font-size: 17px;
    color: #000;

}

.btn-send{
    width: 50%;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-send button{
    height: 60%;
    width: 70%;
    border-radius: 25px;
    border: none;
    outline: none;
    cursor: pointer;
}
.ask p{
    color: #000;
}
.ask span{
    color: red;
    cursor: pointer;
}

